import React, { FC } from 'react'
import classnames from 'classnames'
import style from './index.module.scss'
import { <%- CompName %>Props } from './interface'

const <%- CompName %>: FC< <%- CompName %>Props > = () => {
    return <div className={classnames(style.<%- compName %>)}></div>
}

export default <%- CompName %>
